*{
	margin: 0;
	padding: 0;
	list-style: none;
}
html,body,header,footer,section{
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
	color: #fff;
}
html,body,header{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
}
.click-nav{
	width: 100%;
	height: 360px;
	background: white;
	position: fixed;
}
.click-nav>ul{
	padding: 87px 0px 27px 0px;
	margin-left: 10px;
}
nav>ul{
	display: none;
}
.click-nav>ul>li{
	height: 37px;
}
.click-nav>ul>li>a{
	display: inline-block;
	width: 95%;
	text-decoration: none;
	color: #000;
	font-weight: 500;
	font-size: 16px;
	float: left;
}
.click-nav>ul>li>a:hover{
	color: #99604C;
}
.click-nav>ul>li>i{
	float: right;
}
nav{
	width: 100%;
	height: 84px;
	background-color: transparent;
	padding: 20px 36px 0px;
	box-sizing: border-box;
	box-shadow: 0 4px 10px -10px rgba(0, 0, 0, 0.6);
	position: fixed;
	z-index: 5;
}
.l-nav{
	float: left;
	transition: all 1s;
}
.r-nav{
	float: right;
}
.r-nav>ul{
	height: 48px;
	margin-top: 12px;
}
.r-nav>ul>li{
	float: left;
	height: 55px;
	padding: 0px 31px 0px;
	position: relative;
	cursor: pointer;
}
.r-nav>ul>li>a{
	text-decoration: none;
	color: white;
	font-size: 16px;
	font-family: Roboto;
}
.r-nav>ul>li>a:hover{
	color: #99604c;
}
.r-nav .tab{
	width: 234px;
	background: white;
	position: absolute;
	left: -20px;
	top:52px;
	display: none;
}
.r-nav .tab li{
	width: 198px;
	height: 49px;
	margin: 0px 14px 0px;
	border-bottom: 1px solid #bbb;
	padding-top: 14px;
	box-sizing: border-box;
}
.r-nav>ul>li:nth-of-type(1){
	padding-left: 0;
}
.r-nav .tab a{
	text-decoration: none;
	color: #000;
	font-weight: 200;
}
.r-nav .tab .last{
	border-bottom: none;
}

.r-nav>div{
	display: none;
	width: 20px;
	position: relative;
	left: 17px;
	top: 16px;
	cursor: pointer;
	transition: all 2s;
}
.click-btn>span:nth-of-type(1){
	display: block;
	width: 18px;
	height: 2px;
	background: #000;
	transform: rotate(-45deg);
	position: absolute;
	top: 5px;
}
.click-btn>span:nth-of-type(2){
	display: block;
	width: 18px;
	height: 2px;
	background: #000;
	transform: rotate(45deg);
	position: absolute;
	top: 5px;
}
.r-nav .button>span{
	display: block;
	width: 18px;
	height: 2px;
	background: white;
	margin-bottom: 3px;
}
.button>span:nth-of-type(1),.button>span:nth-of-type(2){
	transform: none;
	position: static;
}

header{
	background: black;
	padding: 180px 36px 36px 36px;
	box-sizing: border-box;
	color: white;
	line-height: 1.5;
}
.head-txt{
		display: flex;
}
h3{
	width: 33.3%;
	font-weight: 200;
	font-size: 26px;
	white-space: nowrap;
}
.head-txt p{
	width: 66.6%;
    font-size: 40px;
	font-weight: 300;
}
main{
	background: #f7f7f7;
	
}
.main-up{
	display: flex;
	padding: 144px 36px 18px;
	box-sizing: border-box;
	justify-content: space-between;
}
.main-up p{
	width: 50%;
	color: black;
	font-size: 40px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 1px;
}
.m-img{
	width: 170px;
}
.m-img img{
	width: 100%;
}
.blank2{
	height: 100px;
	background: #f7f7f7;
}
.main-down{
	width: 100%;
	height: 90%;
	padding: 72px;
	box-sizing: border-box;
	display: flex;
	background: #f7f7f7;
}
.main-down p{
	width: 25%;
	margin-right: 16px;
	font-size: 16px;
    margin-top: 27px;
    font-family: Roboto;
    font-weight: 300;
    line-height: 2;
}
.main-down div{
	width: 75%;
	height: 100%;
	display: flex;
	align-items: flex-start;
}
.main-down div video{
	width: 100%;
	height: auto;
	max-height: 100%;
}
article{
	padding: 180px 72px 108px;
	box-sizing: border-box;
	background: #000000;
}
.art-txt{
	display: flex;
	color: white;
}
h4{
	width: 50%;
	font-size: 70px;
    line-height: 1.75;
    letter-spacing: 1.5px;
	font-weight: 300;
}
.art-txt-r div{
	width: 90px;
    border-bottom: 2px solid #99604c;
    margin-bottom: 58px;
}
.art-txt-r p{
	color: white;
	font-size: 40px;
	line-height: 60px;
	font-weight: 200;
}
.tab2{
	padding: 36px 72px 27px 72px;
	box-sizing: border-box;
	background: #000000;
}
.tab2>.tab2-txt{
	padding: 72px 72px 0px 72px;
	box-sizing: border-box;
	border-bottom: 1px solid #4f5052;
	color: white;
}
.tab2>.tab2-txt ul{
	display: flex;
	justify-content: center;
}
.tab2>.tab2-txt ul li{
	padding: 0 23px 18px 23px;
	box-sizing: border-box;
	font-size: 12px;
	font-weight: 700;
	position: relative;
	letter-spacing: 2px;
	top: 1px;
	cursor: pointer;
	transition: all 0.3s;
	border-bottom: 2px solid transparent;
}
.tab2>.tab2-txt ul li:hover{
	color: #99604C;
}
.current{
	border-bottom: 2px solid #99604C!important;
	color: #99604C;
}

.tab2-img{
	position: relative;
	margin-top: 50px;
	overflow: hidden;
}
.tab2-img>div{
	width: 800%;
	display: flex;
	position: absolute;
	top: 0;
	opacity: 0;
}
.tab2-img>div:nth-of-type(1){
	position: relative;
	z-index: 2;
	opacity: 1;
}
.lbt img{
	width: 12.5%;
	height: 100%;
}
.lbt>div{
	width: 12.5%;
	height: 100%;
	position: absolute;
	padding: 81px 108px;
	box-sizing: border-box;
	color: white;
}
.lbt>div:nth-of-type(1){
	left: 0;
}

.lbt>div span{
	width: 60%;
	font-size: 12px;
    font-weight: 600;
	line-height: 1.75;
}
h5{
	width: 60%;
	padding: 36px 0 9px 0;
    font-size: 40px;
    letter-spacing: .025em;
	box-sizing: border-box;
	font-weight: 300;
}
.lbt>div p{
	width: 60%;    
	font-size: 15px;
    font-weight: 300;
    line-height: 1.75;
    padding-bottom: 36px;
}

.lbt2 img{
	width: 12.5%;
	height: 100%;
}
.lbt2>div{
	width: 12.5%;
	height: 100%;
	position: absolute;
	padding: 81px 108px;
	box-sizing: border-box;
	color: white;
}
.lbt2>div:nth-of-type(1){
	left: 0;
}

.lbt2>div span{
	width: 60%;
	font-size: 12px;
    font-weight: 600;
	line-height: 1.75;
}
h5{
	width: 60%;
	padding: 36px 0 9px 0;
    font-size: 40px;
    letter-spacing: .025em;
	box-sizing: border-box;
	font-weight: 300;
}
.lbt2>div p{
	width: 60%;    
	font-size: 15px;
    font-weight: 300;
    line-height: 1.75;
    padding-bottom: 36px;
}

.lbt3 img{
	width: 12.5%;
	height: 100%;
}
.lbt3>div{
	width: 12.5%;
	height: 100%;
	position: absolute;
	padding: 81px 108px;
	box-sizing: border-box;
	color: white;
}
.lbt3>div:nth-of-type(1){
	left: 0;
}

.lbt3>div span{
	width: 60%;
	font-size: 12px;
    font-weight: 600;
	line-height: 1.75;
}
h5{
	width: 60%;
	padding: 36px 0 9px 0;
    font-size: 40px;
    letter-spacing: .025em;
	box-sizing: border-box;
	font-weight: 300;
}
.lbt3>div p{
	width: 60%;    
	font-size: 15px;
    font-weight: 300;
    line-height: 1.75;
    padding-bottom: 36px;
}


.lbt4 img{
	width: 12.5%;
	height: 100%;
}
.lbt4>div{
	width: 12.5%;
	height: 100%;
	position: absolute;
	padding: 81px 108px;
	box-sizing: border-box;
	color: white;
}
.lbt4>div:nth-of-type(1){
	left: 0;
}

.lbt4>div span{
	width: 60%;
	font-size: 12px;
    font-weight: 600;
	line-height: 1.75;
}
h5{
	width: 60%;
	padding: 36px 0 9px 0;
    font-size: 40px;
    letter-spacing: .025em;
	box-sizing: border-box;
	font-weight: 300;
}
.lbt4>div p{
	width: 60%;    
	font-size: 15px;
    font-weight: 300;
    line-height: 1.75;
    padding-bottom: 36px;
}

.tab2-img>span{
	display: block;
	width: 36px;
	height: 90px;
	background: black;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding-top: 30px;
	box-sizing: border-box;
	cursor: pointer;
	z-index: 10;
}
.lbt-l{
	left: 0;
}
.lbt-l img{
	transform: rotate(180deg);
}
.lbt-r{
	right: 0;
}
ol{
	display: flex;
	justify-content: center;
	margin-top: 46px;
}
ol li{
	width: 12px;
	height: 12px;
	margin: 0 8px;
	cursor: pointer;
	background: #4e5051;
	border-radius: 50%;
	transition: all 0.5s;
}
.current2{
	background: #c4c5c5;
}




.end{
	width: 100%;
	padding: 36px;
	box-sizing: border-box;
	background: black;
	font-weight: 300;
}
.end-up{
	display: flex;
	margin-bottom: 36px;
	justify-content: space-between;
}
.end-up>a{
	display: block;
}
.end-up-m>a{
	color: white;
	margin: 0 10px;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: .1em;
	transition: all 0.5s;
}
.end a:hover{
	color: #99604C;
}
.end-up-r{
	text-align: center;
}
.end-up-r>a{
	display: inline-block;
	width: 80px;
	margin: 0 5px;
	border: 1px solid transparent;
	border-bottom: 2px solid transparent;
}
.end-down{
	width: 100%;
	display: flex;
	padding-top: 27px;
	justify-content: space-between;
}
.end-down>p{
	color: white;
	font-size: 13px;
	font-weight: 300;
}
.end-down>p>a{
	color: white;
	transition: all 0.5s;
}
.end-down>div>a{
	margin: 0 10px;
	position: relative;
	top: 30%;
}




@media (min-width:1440px) {
	.main-down{
		height: 70%;
	}
}
@media (max-width:1002px) {
	nav{
		padding-left: 18px;
	}
	.r-nav>ul{
		display: none;
	}
	.r-nav>div{
		display: block;
	}
	.button{
		display: block;
	}
	.down-nav{
		display: none;
	}
	.head-txt{
		display: block;
	}
	.head-txt p{
		width: 100%;
		padding-top: 36px;
		box-sizing: border-box;
		font-size: 26px;
	}
	article{
		padding: 108px 36px 54px;
	}
	.art-txt{
		display: block;
	}
	h4{
		font-size: 46px;
		padding-bottom: 36px;
	}
	.art-txt-r p{
		font-size: 26px;
	}
	.tab2>div{
		padding: 0px;
	}
	.tab2>.tab2-txt ul{
		display: block;
		text-align: center;
	}
	.current{
		border: none;
	}
	
	
	
	
	
	
	
	
	
	
	.end-up{
		display: block;
		text-align: center;
	}
	.end-up>div{
		padding-top: 36px;
	}
	.end-down{
		display: block;
	}
	.end-down>p{
		text-align: center;
		padding-bottom: 27px;
	}
	.end-down>p>a{
		display: block;
		margin-top: 10px;
	}
	.end-down>div{
		text-align: center;
	}
}

@media (max-width:768px) {
	.m-img{
		display: none;
	}
	.main-up p{
		width: 100%;
		font-size: 26.6667px;
		line-height: 1.5;
		letter-spacing: 0.025em;
	}
	.main-down{
		display: block;
		padding: 36px;
	}
	.main-down p{
		width: 100%;
	}
	.main-down div{
		width: 100%;
		margin-top: 36px;
	}
}